.copyright {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 100px;
    margin-bottom: 20px;

    @include media('<=991px') {
      flex-direction: column;
    }
  }
  &__logo-link {
    font-weight: 600;
    text-decoration: none;
    margin-right: auto;
    color: #000;
    text-transform: uppercase;
    @include media('<=991px') {
      margin-bottom: 20px;
    }
  }
  &__logo-title-lg {
    display: inline-block;
    font-size: 3rem;
    @include media("<=768px") {
      display: none;
    }
  }

  &__logo-title-sm {
    display: none;
    font-size: 2rem;
    @include media("<=768px") {
      display: inline-block;
    }
  }
  &__logo-img {
  }
  &__rights {
    color: $grey;
    text-align: center;
    strong {
      color: #000;
    }
  }
  &__socials {
  }
  &__social {
  }
}
