.features {
  &__wrapper {
  }
  &__title {
    margin-bottom: 40px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 400px));
    column-gap: 50px;
    row-gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  &__item-title {
    margin-bottom: 10px;
  }
  &__item-icon {
    margin-bottom: 10px;
    font-size: 24px;
    color: $accent;
  }
  &__item-text {
  }
}
