.title-with-description {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 450px;
    column-gap: 50px;

    margin-top: 50px;
    margin-bottom: 50px;

    @include media("<=1200px") {
      grid-template-columns: 1fr 300px;
      column-gap: 100px;
    }

    @include media("<=768px") {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }
  &__title {
    margin-bottom: 40px;
    max-width: 600px;
  }
  &__content {
    max-width: 800px;
  }
  &__description {
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__content {
    @include media("<=768px") {
      margin-bottom: 30px;
    }
  }
  &__media {
    @include media("<=768px") {
      display: block;
      margin: 0 auto;
      max-width: 70%;
    }
  }
  &__img {
    border-radius: 10px;
  }
}
