html {
  font-size: 10px;
  line-height: 1.5rem;
  overflow-x: hidden;
}

html,
body,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: "CenturyGothic", "sans-serif";
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
input::placeholder,
textarea,
textarea::placeholder,
button,
span,
div {
  font-size: 2rem;
  line-height: 1.55;
  font-family: "CenturyGothic", "sans-serif";
}

a,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  transition: all 0.3s ease;
}

img {
  display: block;
  max-width: 100%;
}

.ui-btn {
  @include reset-btn();
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  min-height: 60px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: $accent;
  background-image: linear-gradient(
    to right top,
    #0065ef,
    #0c6df3,
    #1874f6,
    #227cf9,
    #2c83fc,
    #3388fd,
    #3b8dfe,
    #4292ff,
    #4996ff,
    #4f99ff,
    #559dff,
    #5ba0ff
  );
  color: #fff;

  @include media("<=1200px") {
    min-height: 50px;
  }
  @include media("<=768px") {
    min-height: 45px;
  }
  &_animated {
    background-size: 200% auto;
    background-image: linear-gradient(
      to right top,
      #0065ef,
      #0c6df3,
      #1874f6,
      #227cf9,
      #2c83fc,
      #3388fd,
      #3b8dfe,
      #4292ff,
      #4996ff,
      #4f99ff,
      #559dff,
      #5ba0ff
    );
    transition: 0.5s;
    &:hover {
      background-position: right center;
    }
  }
  &_small {
    min-height: 45px;
    @include media("<=768px") {
      font-size: 16px;
    }
  }
}

.ui-item {
  @include reset-btn();
  @include reset-link($color: #000);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    background-color: #f5f8fc;
    transition: all 0.3s ease;

    opacity: 0;
    transform: scale(1.1);
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 1;
      transform: scale(1);
      background-color: #e4efff;
    }
  }
  &_active {
    &::before {
      opacity: 1;
      transform: scale(1);
      background-color: #e4efff;
    }
  }
}

.ui-title {
  font-size: 52px;
  font-weight: 700;
  @include media("<=991px") {
    font-size: 32px;
  }
  @include media("<=768px") {
    font-size: 26px;
  }

  &_2 {
    font-size: 42px;
    @include media("<=991px") {
      font-size: 28px;
    }
    @include media("<=768px") {
      font-size: 24px;
    }
  }

  &_3 {
    font-size: 32px;
    @include media("<=991px") {
      font-size: 24px;
    }
    @include media("<=768px") {
      font-size: 18px;
    }
  }

  &_6 {
    font-size: 20px;
    font-weight: 600;
    @include media("<=991px") {
      font-size: 1.8rem;
    }
    @include media("<=768px") {
      font-size: 1.8rem;
    }
  }
}

.ui-text {
  font-size: 2rem;
  color: $grey;
  @include media("<=991px") {
    font-size: 1.8rem;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  &_large {
    max-width: 1400px;
  }
  &_main {
    margin-top: 50px;
    margin-bottom: 50px;
    @include media("<=1200px") {
      margin: 50px 0;
    }
  }
}

.ui-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 50px;

  @include media("<=768px") {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  @include media("<=576px") {
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  &__item {
    text-decoration: none;
    color: #000;
    &:hover {
      color: $accent;
      cursor: pointer;
    }
  }
  &__img {
    max-width: 100%;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    @include media("<=1200px") {
      height: 250px;
    }
    @include media("<=991px") {
      height: 220px;
    }
  }
  &__title {
    margin: 10px 0;
  }
  &__description {
    color: $grey;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }
}

.ui-list {
  &__title {
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__items {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  &__item {
    display: inline-flex;
    @include media("<=576px") {
      font-size: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    a {
      color: $accent;
    }
  }
  &__icon {
    position: relative;
    top: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

    min-width: 20px;

    color: rgb(55, 170, 85);
  }
  &_vertical {
    .ui-list__items {
      a {
        margin-left: 10px;
        @include media("<=991px") {
          margin-left: 0;
        }
      }
    }
    .ui-list__item {
      @include media("<=991px") {
        flex-direction: column;
      }
      @include media("<=576px") {
        a {font-size: 16px;}
      }
    }
    .ui-list__icon {
      @include media("<=991px") {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}

.checkbox-button {
  input {
    position: absolute;
    left: -9999px;
    &:focus {
      + label {
        background: #89baff;
        color: #fff;
      }
    }
    &:checked {
      + label {
        background: #3388fd;
        color: #fff;
      }
    }
  }
  label {
    width: 100%;
    transition: all 0.3s ease;
    background: #f0f0f0;
    color: #000;
  }
}
