html {
  font-size: 10px;
  line-height: 1.5rem;
  overflow-x: hidden;
}

html,
body,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: "Poppins", "sans-serif";
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-size: 1.6rem;
  line-height: 1.55;
  // TODO: заменить Poppins на Century Gothic 
  font-family: "Poppins", "sans-serif";
}

a,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  transition: all 0.3s ease;
}

img {
  display: block;
  max-width: 100%;
}

.ui-btn {
  @include reset-btn();
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  min-height: 60px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: $accent;
  color: #fff;

  @include media("<=1200px") {
    min-height: 50px;
  }
}

.ui-item {
  @include reset-btn();
  @include reset-link($color: #000);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: transparent;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background-color: #e4efff;
  }
  &_active {
    background-color: #e4efff;
  }
}

.ui-title {
  font-size: 52px;
  @include media("<=991px") {
    font-size: 32px;
  }
  @include media("<=768px") {
    font-size: 26px;
  }

  &_2 {
    font-size: 42px;
    @include media("<=991px") {
      font-size: 28px;
    }
    @include media("<=768px") {
      font-size: 20px;
    }
  }

  &_3 {
    font-size: 32px;
    @include media("<=991px") {
      font-size: 24px;
    }
    @include media("<=768px") {
      font-size: 14px;
    }
  }

  &_6 {
    font-size: 20px;
    font-weight: 600;
    @include media("<=991px") {
      font-size: 1.8rem;
    }
    @include media("<=768px") {
      font-size: 1.6rem;
    }
  }
}

.ui-text {
  font-size: 1.8rem;
  color: $grey;
  @include media("<=991px") {
    font-size: 1.6rem;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  &_large {
    max-width: 1400px;
  }
  &_main {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.ui-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;

  @include media("<=768px") {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  @include media("<=576px") {
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  &__item {
    &:hover {
      color: $accent;
      cursor: pointer;
    }
  }
  &__img {
    width: 100%;
  }
  &__title {
    margin: 10px 0;
  }
  &__description {
    color: $grey;
  }
}
